@model projectIT.Models.Performance

@{
    ViewBag.Title = "Create";
}

<h2>Резервација</h2>

<div>

    <h1>Име на претстава: @Model.PerformanceName</h1>
    <h1>Датум на одржување: @Model.PerformanceDateTime</h1>
    <h1>Место на одржување: @Model.Building.BuildingName</h1>




    <ul>
        @foreach (projectIT.Models.Seat p in Model.Seats)
        {
            if (p.status == false)
            {
                <li>


                    <input type="checkbox" name="selectedStatus" value="@p.status" /> @p.SeatNumber


                </li>
            }


        }
    </ul>

    <input type="submit" name="submit" value="Submit" />
</div>